---
import type { Locale } from '../i18n/ui';
import { LOCALE_LABEL, localizedPath, otherLocales } from '../i18n/ui';

type Props = { current: Locale };
const { current } = Astro.props;
const others = otherLocales(current);
---

<span class="lang-switch-wrap">
  {others.map((loc) => (
    <a class="lang-switch" href={localizedPath(loc)} hreflang={loc} aria-label={`Switch language to ${LOCALE_LABEL[loc]}`}>
      {LOCALE_LABEL[loc]}
    </a>
  ))}
</span>
